.DS_Store

app/config/database.php

storage/views/*

storage/cache/*
!storage/cache/index.html
!storage/cache/.htaccess

storage/logs/*
!storage/logs/index.html
!storage/logs/.htaccess

composer.lock

vendor/


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

#my
catatan.txt